<template>
  <el-table :data="tableData" style="width: 100%" max-height="1000">
    <el-table-column fixed prop="datetime" label="日期" width="160"></el-table-column>
    <el-table-column prop="typename" label="类型" width="80"></el-table-column>
    <el-table-column prop="nick" label="昵称" width="120"></el-table-column>
    <el-table-column label="内容" width="1230">
      <template slot-scope="scope">
        <div v-if="scope.row.type==1">
          <img :src="scope.row.content" class="head_pic"/>
        </div>
        <div v-else-if="scope.row.type!==1" v-html="scope.row.content.replace(/\#[\u4E00-\u9FA5]{1,3}\;/gi, emotion)">
        </div>
        　　　　　　
      </template>
    </el-table-column>
    <el-table-column fixed="right" label="审核" width="150">
      <template slot-scope="scope">
        <el-button size="mini" @click="handleEdit(scope.$index,scope.row)">通过</el-button>
        <el-button size="mini" type="danger" @click="handleDelete(scope.$index,scope.row)">失败</el-button>
      </template>
    </el-table-column>
  </el-table>
</template>

<script>
  export default {
    data() {
      return {
        ws: null,
        userId: '',
        userNick: '',
        groupId: '1', // 用户登录后默认进聊天室群组1
        group_name: '',
        tableData: [],
        //ws心跳包
        heartCheck: {
          that: this,
          timeout: 60000,
          timeoutObj: null,
          reset: function () {
            clearTimeout(this.timeoutObj);
            this.start();
          },
          start: function () {
            this.timeoutObj = setTimeout(() => {
              this.that.ws.send(JSON.stringify({cmd: 13}))
            }, this.timeout)
          }
        },
      }
    },
    methods: {
      // 获取ws地址
      getWsUrl() {
        const token = localStorage.getItem('token') || ''
        const url = `ws://23.225.140.154:8888?token=${token}`
        return url
      },
      //获取群用户列表
      getUserList() {
        const userPar = {
          cmd: 17,
          type: 0,
          group_id: this.groupId,
        }
        this.ws.send(JSON.stringify(userPar))
      },
      //获取历史审核消息记录
      getHistoryMsg() {
        const historyParam = {
          cmd: 44, //
          groupId: this.groupId,
          userId: this.userId,
          offset: 0,
          count: 50
        }
        this.ws.send(JSON.stringify(historyParam))
      },

      //处理ws返回的消息
      dealMsg() {
        this.ws.onmessage = (e) => {
          this.heartCheck.reset()
          let newMessage = JSON.parse(e.data)
          if (newMessage.command !== 13 && newMessage.command !== 8) { // 非心跳包
            // console.log(newMessage)
          }

          // 群聊审核验证请求
          if (newMessage.command === 40) {
            console.log(newMessage)
            if (newMessage.data === null) {
              return
            }
            const rowObj = {
              data: newMessage.data,
              id: newMessage.data.createTime,
              datetime: this.format(newMessage.data.createTime),
              nick: newMessage.data.extras.fromNick,
              type: newMessage.data.msgType,
              typename: this.msgtype(newMessage.data.msgType),
              content: newMessage.data.content,
            }
            this.tableData.push(rowObj)
            // console.log("tableData:" + this.tableData.length)
          }

          // 获取历史群聊审核消息响应
          if (newMessage.command === 45) {
            console.log(newMessage)
            if (!newMessage.data) {
              return
            }
            const msg = newMessage.data.groups[1]
            if (msg) {
              msg.forEach((item) => {
                const rowObj = {
                  data: item,
                  id: item.createTime,
                  datetime: this.format(item.createTime),
                  nick: item.extras.fromNick,
                  type: item.msgType,
                  typename: this.msgtype(item.msgType),
                  content: item.content,
                }
                this.tableData.push(rowObj)
              })
            }
          }
          // 用户上线
          if (newMessage.command === 6) {
            // console.log(JSON.stringify(newMessage))
            this.userId = newMessage.user.id
            this.userNick = newMessage.user.nick
            // sessionStorage.setItem('userid', newMessage.user.id)
            this.getHistoryMsg();
            this.groupId = '1' // 暂时这样写，待后端服务完善后列出所有群组供选择 ALex2019-10-13
          }
          // 用户加入群组
          if (newMessage.command === 8) {
            console.log('------用户加入群组(this.userId:' + this.userId + ')------')
            // console.log(JSON.stringify(newMessage))
            // if (this.userId !== '') {
            //   this.getUserList()
            // }
          }
          //用户下线
          if (newMessage.command === 10) {
          }
          //用户在线列表
          if (newMessage.command === 18) {
          }
        }
      },
      handleEdit(index, row) {
        const msg = row.data
        msg.cmd = 42 // 群聊审核结果请求
        // msg.createTime = new Date() // 消息发送时间改为审核时间！
        msg.verification = 1
        this.ws.send(JSON.stringify(msg))
        this.tableData.splice(index, 1)
      },
      handleDelete(index, row) {
        const reg = new RegExp("https?://.+\.(jpeg|gif|png)", "gi")
        const msg = row.data
        msg.cmd = 42 // 群聊审核结果请求
        msg.verification = -1
        this.ws.send(JSON.stringify(msg))
        this.tableData.splice(index, 1);
      },
      msgtype(type) {
        switch (type) {
          case 0 :
            return '文本'
          case 1:
            return '图片'
          case 6:
            return '红包'
          case 3:
            break
          case 4:
            break
          default:
            return ''
        }
      },
      //格式化时间
      format(dateStr, pattern = '') {
        let dt = new Date(dateStr)
        //   yyyy-mm-dd
        let y = dt.getFullYear()
        let m = dt.getMonth() + 1 >= 10 ? dt.getMonth() + 1 : `0${dt.getMonth() + 1}`
        let d = dt.getDate() >= 10 ? dt.getDate() : `0${dt.getDate()}`
        if (pattern.toLowerCase() == 'yyyy-mm-dd') {
          return `${y}-${m}-${d}`
        } else {
          let hh = dt.getHours() >= 10 ? dt.getHours() : `0${dt.getHours()}`
          let mm = dt.getMinutes() >= 10 ? dt.getMinutes() : `0${dt.getMinutes()}`
          let ss = dt.getSeconds() >= 10 ? dt.getSeconds() : `0${dt.getSeconds()}`
          return `${y}-${m}-${d} ${hh}:${mm}:${ss}`
        }
      },
      contFormat: function (row, column) {
        switch (row.type) {
          case 0:
            return row.content.replace(/\#[\u4E00-\u9FA5]{1,3}\;/gi, emotion)
          case 1:
            return '<div class="userInfo-img"><img :src="row.content"></div>'
          case 6:
            return row.content
          default:
            break
        }
      },
      // 将匹配结果替换表情图片
      emotion(res) {
        let word = res.replace(/\#|\;/gi, '')
        const list = ['微笑', '撇嘴', '色', '发呆', '得意', '流泪', '害羞', '闭嘴', '睡', '大哭', '尴尬', '发怒', '调皮', '呲牙', '惊讶', '难过', '酷', '冷汗', '抓狂', '吐', '偷笑', '可爱', '白眼', '傲慢', '饥饿', '困', '惊恐', '流汗', '憨笑', '大兵', '奋斗', '咒骂', '疑问', '嘘', '晕', '折磨', '衰', '骷髅', '敲打', '再见', '擦汗', '抠鼻', '鼓掌', '糗大了', '坏笑', '左哼哼', '右哼哼', '哈欠', '鄙视', '委屈', '快哭了', '阴险', '亲亲', '吓', '可怜', '菜刀', '西瓜', '啤酒', '篮球', '乒乓', '咖啡', '饭', '猪头', '玫瑰', '凋谢', '示爱', '爱心', '心碎', '蛋糕', '闪电', '炸弹', '刀', '足球', '瓢虫', '便便', '月亮', '太阳', '礼物', '拥抱', '强', '弱', '握手', '胜利', '抱拳', '勾引', '拳头', '差劲', '爱你', 'NO', 'OK', '爱情', '飞吻', '跳跳', '发抖', '怄火', '转圈', '磕头', '回头', '跳绳', '挥手', '激动', '街舞', '献吻', '左太极', '右太极']
        let index = list.indexOf(word)
        return `<img src="https://res.wx.qq.com/mpres/htmledition/images/icon/emotion/${index}.gif" style="vertical-align: middle">`
      },
    },
    mounted() {
      this.ws = new WebSocket(this.getWsUrl());

      this.ws.onopen = () => {
        // console.log('open')
        this.heartCheck.start()
        this.dealMsg()
      }

      this.ws.onclose = () => {
        this.$router.push("/login")
        // this.ws = new WebSocket(this.getWsUrl());
        // this.getHistoryMsg()
      }

      this.ws.onerror = () => {
        this.$router.push("/login")
        // console.log('error')
      }
      console.log('this.userId:' + this.userId)
    },
  }
</script>
<style scoped lang="less">
  .userInfo-img {
    position: relative;
    left: 14.8%;
    top: 55%;
    padding: 10px;
    margin-top: -10px;
    width: fit-content;
    background-color: #fff;
    border-radius: 4px;

    img {
      display: flex;
      max-width: 180px;
      height: auto;
    }
  }
</style>
