<template>
  <div class="login-container">
    <h1 class="title">登陆</h1>
    <el-form :label-position="labelPosition" label-width="80px" ref="adminForm">
      <el-form-item label="用户名">
        <el-input v-model="username" :placeholder="`群主或管理员`" ref='username'></el-input>
      </el-form-item>
      <el-form-item label="密码">
        <el-input @keydown.native.enter="login" type="password" v-model="password"></el-input>
      </el-form-item>
      <el-form-item label="群组">
        <el-select v-model="group">
          <el-option v-for="group in groupList" :key="group.id" :value="group.id" :label="group.name">
          </el-option>
        </el-select>
      </el-form-item>
      <el-button type="primary" @click="login">登录</el-button>
    </el-form>
  </div>
</template>

<script>
  import {login_manage} from "../api";

  export default {
    name: "login",
    data() {
      return {
        labelPosition: "left",
        username: "",
        password: "",
        groupList: [{"id": 1, "name": "测试房"}],
        group: {},
      }
    },
    mounted() {
      this.group = this.groupList[0];
    },
    methods: {
      login() {
        // console.log("执行登录操作");
        if (!this.username.trim() || !this.password.trim())
          return this.$message({
            message: "请输入用户名或密码哦!",
            type: "warning"
          });

        login_manage({
          account: this.username,
          passWord: this.password,
          groupId: this.group.id
        })
          .then(res => {
            // console.log(res)
            if (res.data.code === 0){
              localStorage.setItem("token", res.data.data.token); // 将Token存储到localStorage
              // 登录成功提醒用户
              this.$message({
                message: '登录成功',
                type: "success"
              });
              // 登录成功跳转到首页
              this.$router.push("/home");
            }else if (res.data.code === -1){
              this.username = '';
              this.password = '';
              this.$refs.username.focus();
              this.$message({
                message: res.data.message,
                type: "warning"
              });
            }
          })
          // .then的回调函数有两个, 第一个是成功的, 第二个是失败的
          // 但是如果失败了也会报错, 通过.catch也可以进行捕获
          .catch(err => {
            this.username = '';
            this.password = '';
            this.$refs.username.focus();
            this.$message({
              message: '登录失败',
              type: "error"
            });
            // console.log(error.response.data.errMsg);
            // this.$message.error("恭喜您哦!" + err.response.data.errMsg);
          });
      }
    }
  }
</script>

<style scoped lang="less">
  .login-container {
    width: 500px;
    margin: 100px auto;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0 0 10px #ccc;

    .title {
      font-size: 24px;
      font-weight: bold;
      padding-bottom: 15px;
    }
  }
</style>
